<%- include('../partials/header.ejs') %>
<!-- Main Section -->
<!-- --------------------------------------------------------------- -->
<style>
    body {
        background-color: #F4F6F9;
    }
</style>
<%- include('../modelView/homeSearch.ejs') %>
<%- include('../modelView/ProductCardGrid.ejs') %>

<div class="container  mb-t ">
    <div class=" text-center">
        <a href="/posts" type="button" class="btn btn-primary btn-shadow">View More</a>
    </div>
</div>

<%- include('../modelView/homeSlider.ejs') %>
<!-- --------------------------------------------------------------- -->
<!-- Main Section -->

<%- include('../partials/footer.ejs') %>
</body>

</html>