<%- include('./userDashboard/HaderTitel.ejs') %>

<!-- Style Link -->
<%-include('../../Link_Script/Links.ejs')%>
<!-- Style Link -->
</head>

<body class="toolbar-enabled">

    <!-- Sign in / sign up modal-->
    <%- include('../../Components/Login&SignUpSection') %>
    <!-- Sign in / sign up modal-->

    <!-- Quick View Modal-->
    <%- include('../../Components/QuickViewModalSection.ejs') %>
    <!-- Quick View Modal-->

    <!-- Navbar-->
    <%- include('../../Components/NavbarSection')  %>
    <!-- Navbar-->


    <div class="container mt-4 pb-3">
        <div class="bg-light box-shadowf-lg  overflow-hidden">
            <div class="row">

                <!-- Sidebar-->
                <%- include('./userDashboard/Sidebar.ejs') %>
                hello Purchases
            </div>
        </div>
    </div>


    <!-- Main Section -->
    <!-- --------------------------------------------------------------- -->



    <!-- Toast: Added to Cart-->
    <%- include('../../Components/miniComponents/Add_to_Cart') %>
    <!-- Toast: Added to Cart-->

    <!-- Footer-->
    <%- include('../../Components/FooterSection') %>
    <!-- Footer-->

    <!-- Mobile Viewport -->
    <%- include('../../Components/miniComponents/MobileViewSection') %>
    <!-- Mobile Viewport -->

    <!-- Vendor scrits: js libraries and plugins-->
    <%- include('../../Link_Script/Script') %>
    <!-- Vendor scrits: js libraries and plugins-->


</body>

</html>