<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pikslide | Fashion Store v.1</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Pikslide - Bootstrap E-commerce Template">
    <meta name="keywords"
        content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap 4, html5, css3, jquery, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Pikslide Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style Link -->
    <%- include('../../Link_Script/Links.ejs')%>
    <!-- Style Link -->
</head>

<body class="toolbar-enabled">
    <!-- Sign in / sign up modal-->
    <%- include('../../Components/Login&SignUpSection') %>
    <!-- Sign in / sign up modal-->
    <!-- Quick View Modal-->
    <%- include('../../Components/QuickViewModalSection.ejs') %>
    <!-- Quick View Modal-->
    <!-- Navbar-->
    <%- include('../../Components/NavbarSection')  %>
    <!-- Navbar-->

    <div class="container mt-4 pb-3">
        <div class="bg-light box-shadowf-lg  overflow-hidden">
            <div class="row">

                <!-- Sidebar-->
                <%- include('./userDashboard/Sidebar.ejs') %>
                <!-- Sidebar-->

                <section class="col-lg-10">
                    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                        <!-- Title-->
                        <div class="d-sm-flex flex-wrap justify-content-between align-items-center pb-2">
                            <h2 class="font-weight-bold py-2 text-center text-sm-left">My Submission</h2>
                        </div>
                        <hr class="mb-4">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="form-label font-weight-bold">Make for*</label>
                                    <select class="js-example-basic-multiple me-2 col-sm-12 select2" name="states[]">
                                        <option>Select category</option>
                                        <option>Photos</option>
                                        <option>Graphics</option>
                                        <option>UI Design</option>
                                        <option>Web Themes</option>
                                        <option>Fonts</option>
                                        <option>Add-Ons</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label font-weight-bold" for="unp-product-name">In*</label>
                                    <select class="js-example-basic-multiple form-select me-2 col-sm-12" name="states[]"
                                        id='select2'>
                                        <option>Select category</option>
                                        <option>Photos</option>
                                        <option>Graphics</option>
                                        <option>UI Design</option>
                                        <option>Web Themes</option>
                                        <option>Fonts</option>
                                        <option>Add-Ons</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-2 pb-2">
                                <label class="form-label font-weight-bold" for="unp-product-name">Title*</label>
                                <input class="form-control" type="text" id="unp-product-name"
                                    placeholder="Product titel">
                                <div class="form-text">Maximum 100 characters. No HTML or emoji allowed.</div>
                            </div>
                            <div class="mb-3 pb-2">
                                <label class="form-label font-weight-bold" for="unp-product-description">Product
                                    Description:</label>
                                <textarea class="form-control " placeholder="Your product description" rows="4"
                                    id="unp-product-description"></textarea>
                            </div>
                            <div class="file-drop-area mb-4">
                                <label class="form-label font-weight-bold" for="unp-standard-price">
                                    Upload product screenshot
                                </label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Product screenshot</label>
                                    <div class="form-text">1000 x 800px ideal size for hi-res displays</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label font-weight-bold" for="unp-standard-price">
                                        Standard license price</label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="czi-currency-exchange czi-dollar mr-2 font-weight-bold"></i>
                                        </span>
                                        <input class="form-control" type="text" id="unp-standard-price" value="30">
                                    </div>
                                    <div class="form-text">Average marketplace price for this category is $15.</div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label font-weight-bold" for="unp-extended-price">
                                        Extended license price</label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="czi-currency-exchange czi-dollar mr-2 font-weight-bold"></i>
                                        </span>
                                        <input class="form-control" type="text" id="unp-extended-price"
                                            placeholder="Price">
                                    </div>
                                    <div class="form-text">Typically 10x of the Standard license price.</div>
                                </div>
                            </div>

                            <div class="mb-3 py-2">
                                <label class="form-label font-weight-bold" for="unp-product-tags">Product tags</label>
                                <textarea class="form-control" rows="1" id="unp-product-tags"
                                    placeholder="Tags"></textarea>
                                <div class="form-text">Up to 10 keywords that describe your item. Tags should all be in
                                    lowercase and separated by commas.
                                </div>
                            </div>
                            <div class="file-drop-area mb-4">
                                <label class="form-label font-weight-bold" for="unp-standard-price">
                                    Product files for sale
                                </label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Source files for sale</label>
                                    <div class="form-text">Maximum file size is 1GB</div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-shadow d-block w-100 mb-5" type="submit">
                                <i class="ci-cloud-upload fs-lg me-2"></i>Upload Product
                            </button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <!-- --------------------------------------------------------------- -->



    <!-- Toast: Added to Cart-->
    <%- include('../../Components/miniComponents/Add_to_Cart') %>
    <!-- Toast: Added to Cart-->

    <!-- Footer-->
    <%- include('../../Components/FooterSection') %>
    <!-- Footer-->

    <!-- Mobile Viewport -->
    <%- include('../../Components/miniComponents/MobileViewSection') %>
    <!-- Mobile Viewport -->

    <!-- Vendor scrits: js libraries and plugins-->
    <%- include('../../Link_Script/Script') %>
    <!-- Vendor scrits: js libraries and plugins-->
</body>

</html>