<%- include('./userDashboard/HaderTitel.ejs') %>
<!-- Style Link -->
<%-include('../../Link_Script/Links.ejs')%>
<!-- Style Link -->
</head>

<body class="toolbar-enabled">

    <!-- Sign in / sign up modal-->
    <%- include('../../Components/Login&SignUpSection') %>
    <!-- Sign in / sign up modal-->

    <!-- Quick View Modal-->
    <%- include('../../Components/QuickViewModalSection.ejs') %>
    <!-- Quick View Modal-->

    <!-- Navbar-->
    <%- include('../../Components/NavbarSection')  %>
    <!-- Navbar-->
    <style>
        body {
            background-color: #f4f6f9;
        }
    </style>

    <div class="container mt-1 mb-3 d-flex justify-content-center">
        <div class="overflow-hidden" style="background-color: #f4f6f9;">
            <div class="row">
                <!-- Card shadow: Round picture + outline socials -->
                <div class="card text-center border-0  bg-light mt-2" style="background-color: #f4f6f9;">
                    <div class="card-body mx-5 mb-10">
                        <a href="/users/profile">
                            <img class="d-inline-block rounded-circle mb-3" width="96"
                                src="../../../public/img/team/02.jpg" alt="Richard Williams" />
                        </a>
                        <h4 class="pt-1 font-weight-bold mb-1">Muhammad Ranju</h4>
                        <a class="nav-link-style font-weight-bold mb-5"
                            href="mailto:pikslide@gmail.com">pikslide@gmail.com
                        </a>

                        <div class="mb-3 mt-2 d-flex justify-content-center">
                            <p class="mb-0 col-md-5 ">
                                Hi, Thank you for visiting my profile. I am Muhammad Ranju. I have a special skill in
                                Social Media Post & Flyer design
                            </p>
                        </div>
                        <div class="mb-4">
                            <button type="button"
                                class="btn btn-primary btn-shadow btn-sm font-weight-bold">Follow</button>
                            <a href="/users/setting" type="button"
                                class="btn btn-outline-primary btn-sm font-weight-bold">Edit
                                Profile</a>
                        </div>
                        <div class="mb-3">
                            <a class="social-btn sb-round sb-facebook ml-2 mb-2" href="#">
                                <i class="czi-facebook"></i>
                            </a>
                            <a class="social-btn sb-round sb-twitter ml-2 mb-2" href="#">
                                <i class="czi-twitter"></i>
                            </a>
                            <a class="social-btn sb-round sb-pinterest ml-2 mb-2" href="#">
                                <i class="czi-pinterest"></i>
                            </a>
                            <a class="social-btn sb-round sb-instagram ml-2 mb-2" href="#">
                                <i class="czi-instagram"></i>
                            </a>
                            <a class="social-btn sb-round sb-youtube ml-2 mb-2" href="#">
                                <i class="czi-youtube"></i>
                            </a>
                        </div>

                        <div class="container pb-5 mb-2 ">
                            <div class="row pt-3 mx-n2">
                                <!-- Product card (Grid) -->
                                <% for(let i=0;i<8;i++){ %>
                                <div class="card product-card  col-lg-3 col-md-4 col-sm-4 mb-grid-gutter ">
                                    <button class="btn-wishlist btn-md mr-3 mt-3 product-card bg-danger btn-shadow "
                                        type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Love"><i
                                            class="czi-heart text-light shadow "></i></button>
                                    <a class="card-img-top d-block" href="/posts/products">
                                        <img src="../public/lazyload/pikslide-lazyload.jpg"
                                            data-src="../../public/img/marketplace/products/02.jpg"
                                            class="card-img-top mt-3 lazyload" alt="Product">
                                    </a>
                                    <div class="card-body ">
                                        <div class="d-flex flex-wrap justify-content-between align-items-start pb-1">
                                            <div class="text-muted font-size-xs mr-1">
                                                <a class="product-meta font-weight-medium" href="/users/profile">by
                                                    Pikslide</a>
                                            </div>
                                            <div class="star-rating">
                                                <i class="sr-star czi-star-filled active"></i>
                                                <i class="sr-star czi-star-filled active"></i>
                                                <i class="sr-star czi-star-filled active"></i>
                                                <i class="sr-star czi-star-filled active"></i>
                                                <i class="sr-star czi-star-filled active"></i>
                                            </div>
                                        </div>
                                        <h3 class="product-title font-size-sm mb-2">
                                            <a href="/posts/products">Floating Phone and Tablet...</a>
                                        </h3>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>

                    </div>

                    <!-- pagination start -->
                    <div class="container pb-3 ">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="czi-arrow-left"></i>
                                    </a>
                                </li>
                                <li class="page-item d-sm-none">
                                    <span class="page-link page-link-static">1 / 5</span>
                                </li>
                                <li class="page-item active d-none d-sm-block" aria-current="page">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item d-none d-sm-block">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="czi-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Toast: Added to Cart-->
    <%- include('../../Components/miniComponents/Add_to_Cart') %>
    <!-- Toast: Added to Cart-->

    <!-- Footer-->
    <%- include('../../Components/FooterSection') %>
    <!-- Footer-->

    <!-- Mobile Viewport -->
    <%- include('../../Components/miniComponents/MobileViewSection') %>
    <!-- Mobile Viewport -->

    <!-- Vendor scrits: js libraries and plugins-->
    <%- include('../../Link_Script/Script') %>
    <!-- Vendor scrits: js libraries and plugins-->

</body>

</html>