<%- include('../UserComponents/userDashboard/HaderTitel.ejs') %>

<!-- Style Link -->
<%-include('../../Link_Script/Links.ejs')%>
<!-- Style Link -->
</head>

<body class="toolbar-enabled">

    <!-- Sign in / sign up modal-->
    <%- include('../../Components/Login&SignUpSection') %>
    <!-- Sign in / sign up modal-->

    <!-- Quick View Modal-->
    <%- include('../../Components/QuickViewModalSection.ejs') %>
    <!-- Quick View Modal-->

    <!-- Navbar-->
    <%- include('../../Components/NavbarSection')  %>
    <!-- Navbar--




    <!-- Main Section -->
    <!-- --------------------------------------------------------------- -->
    <!-- Home icon -->
    <div class="container mt-3 mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">
                        <i class="czi-home"></i>
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/posts">Category</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Product</li>
            </ol>
        </nav>

        <!-- Carousel Section -->
        <!-- Multiple items + Static controls outside + No dots + Loop (Responsive) -->
        <div class="cz-carousel cz-controls-sm cz-controls-static cz-controls-outside mt-3">
            <div class="cz-carousel-inner"
                data-carousel-options='{"items": 3, "nav": false, "responsive": {"0":{"items":1},"500":{"items":2, "gutter": 18},"768":{"items":3, "gutter": 20}, "1100":{"gutter": 24}}}'>
                <% for(let i=0;i<4;i++){ %>
                <a href="#">
                    <img src="../public/lazyload/pikslide-lazyload.jpg" class="lazyload"
                        data-src="https://cartzilla.createx.studio/img/components/carousel/01.jpg" alt="...">
                </a>
                <% } %>
            </div>
        </div>
    </div>
    <!-- Carousel Section End-->

    <!-- Page Content-->
    <div class="container pb-5 mb-2 ">
        <div class="row pt-3 mx-n2">
            <% for( let i=0;i<16;i++){ %>
            <!-- Product card (Grid) -->
            <div class="card product-card  col-lg-3 col-md-4 col-sm-4 mb-grid-gutter ">
                <button class="btn-wishlist btn-md mr-3 mt-3 product-card bg-danger btn-shadow " type="button"
                    data-bs-toggle="tooltip" data-bs-placement="left" title="Love"><i
                        class="czi-heart text-light shadow "></i></button>
                <a class="card-img-top d-block" href="/posts/products">
                    <img src="../public/lazyload/pikslide-lazyload.jpg"
                        data-src="../../public/img/marketplace/products/02.jpg" class="card-img-top mt-3 lazyload"
                        alt="Product">
                </a>
                <div class="card-body ">
                    <div class="d-flex flex-wrap justify-content-between align-items-start pb-1">
                        <div class="text-muted font-size-xs mr-1">
                            <a class="product-meta font-weight-medium" href="/users/profile">by Pikslide</a>
                        </div>
                        <div class="star-rating">
                            <i class="sr-star czi-star-filled active"></i>
                            <i class="sr-star czi-star-filled active"></i>
                            <i class="sr-star czi-star-filled active"></i>
                            <i class="sr-star czi-star-filled active"></i>
                            <i class="sr-star czi-star-filled active"></i>
                        </div>
                    </div>
                    <h3 class="product-title font-size-sm mb-2">
                        <a href="/posts/products">Floating Phone and Tablet...</a>
                    </h3>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <!-- Page Content-->

    <!-- Pagination Section -->
    <div class="container pb-5 mb-2 mb-md-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="Previous">
                        <i class="czi-arrow-left"></i>
                    </a>
                </li>
                <li class="page-item d-sm-none">
                    <span class="page-link page-link-static">2 / 5</span>
                </li>
                <li class="page-item d-none d-sm-block">
                    <a href="#" class="page-link">1</a>
                </li>
                <li class="page-item active d-none d-sm-block" aria-current="page">
                    <span class="page-link">
                        2
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                <li class="page-item d-none d-sm-block">
                    <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item d-none d-sm-block">
                    <a href="#" class="page-link">4</a>
                </li>
                <li class="page-item d-none d-sm-block">
                    <a href="#" class="page-link">5</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="Next">
                        <i class="czi-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Pagination Section End -->

    <!-- Main Section End -->
    <!-- --------------------------------------------------------------- -->








    <!-- Toast: Added to Cart-->
    <%- include('../../Components/miniComponents/Add_to_Cart') %>
    <!-- Toast: Added to Cart-->

    <!-- Footer-->
    <%- include('../../Components/FooterSection') %>
    <!-- Footer-->

    <!-- Mobile Viewport -->
    <%- include('../../Components/miniComponents/MobileViewSection') %>
    <!-- Mobile Viewport -->

    <!-- Vendor scrits: js libraries and plugins-->
    <%- include('../../Link_Script/Script') %>
    <!-- Vendor scrits: js libraries and plugins-->


</body>

</html>