<%- include('../UserComponents/userDashboard/HaderTitel.ejs') %>

<!-- Style Link -->
<%-include('../../Link_Script/Links.ejs')%>
<!-- Style Link -->
</head>

<body class="toolbar-enabled bgs">
    <!-- Sign in / sign up modal-->
    <%- include('../../Components/Login&SignUpSection') %>
    <!-- Sign in / sign up modal-->

    <!-- Quick View Modal-->
    <%- include('../../Components/QuickViewModalSection') %>
    <!-- Quick View Modal-->

    <!-- Navbar-->
    <%- include('../../Components/NavbarSection')  %>

    <!-- Main Section -->
    <!-- --------------------------------------------------------------- -->

    <div class="container mb-3 mt-3 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">
                        <i class="czi-home"></i>
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/posts">Posts</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">product name</li>
            </ol>
        </nav>
    </div>
    <%- include('../../Components/miniComponents/ViewProductSection') %>
    <%- include('../../Components/miniComponents/CommentSection') %>
    <%- include('../../Components/miniComponents/RelatedProdictSection') %>



    <!-- Main Section -->
    <!-- --------------------------------------------------------------- -->







    <!-- Toast: Added to Cart-->
    <%- include('../../Components/miniComponents/Add_to_Cart') %>
    <!-- Toast: Added to Cart-->

    <!-- Footer-->
    <%- include('../../Components/FooterSection') %>
    <!-- Footer-->

    <!-- Mobile Viewport -->
    <%- include('../../Components/miniComponents/MobileViewSection') %>
    <!-- Mobile Viewport -->

    <!-- Vendor scrits: js libraries and plugins-->
    <%- include('../../Link_Script/Script') %>
    <!-- Vendor scrits: js libraries and plugins-->